
$light-color:#FFFFFF;
$primary-color:#3BB77E;
$primary-color-light:#DEF9EC;
$hr-color:#BCE3C9;
$primary-color-opt:#3BB77E;

//font color
$primary-font-color:#253D4E;
$grey-font-color:#7E7E7E;
$placeholder-color:#838383;


//badge color
$hot-color:#F74BB1;
$sale-color:#67BCEE;
$discount-color:#F59758;


$footer-bg: #f8f8f8;
$footer-border: #e5e5e5;

$text-color: #333;
$light-gray: #f8f9fa;
$white: #ffffff;
$dark-gray: #5a5c69;
